.u-section-1 .u-sheet-1 {
  min-height: 626px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 15px -23px 0 893px;
}

.u-section-1 .u-text-2 {
  margin: 4px -136px 0 780px;
}

.u-section-1 .u-text-3 {
  margin: 15px -80px 0 584px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 27px 206px 60px auto;
  padding: 14px 38px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 736px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 643px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 484px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 564px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 493px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 374px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 423px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 370px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 266px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 233px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 184px;
  }
}.u-section-2 {
  background-image: url("images/gear-vr_kv_new_visual_l.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 40px auto 0 20px;
}

.u-section-2 .u-image-1 {
  width: 270px;
  height: 31px;
  margin: 11px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 412px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 316px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 237px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 149px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 719px;
}

.u-section-3 .u-group-1 {
  width: 799px;
  min-height: 121px;
  margin: 59px auto 0;
}

.u-section-3 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 496px;
}

.u-section-3 .u-image-1 {
  height: 350px;
  margin: 0 auto 45px 0;
}

.u-section-3 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 497px;
  background-image: none;
}

.u-section-3 .u-image-2 {
  height: 350px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 45px 20px 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 496px;
  background-image: none;
}

.u-section-3 .u-image-3 {
  height: 350px;
  margin: 0 auto 45px 0;
}

.u-section-3 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 496px;
  background-image: none;
}

.u-section-3 .u-image-4 {
  height: 350px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 45px 20px 43px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 659px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1215px;
  }

  .u-section-3 .u-group-1 {
    width: 505px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 473px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 846px;
}

.u-section-4 .u-text-1 {
  font-weight: normal;
  margin: 48px -29px 0 366px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 803px;
    margin-left: 237px;
  }

  .u-section-4 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
    margin-left: 17px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}